@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nova+Square&display=swap");
@keyframes keyframes {}* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Blocked";
  font-weight: normal;
  src: url("../fonts/blocked.eot") format("eot"), url("../fonts/blocked.otf") format("otf"), url("../fonts/blocked.ttf") format("ttf"), url("../fonts/blocked.woff") format("woff"), url("../fonts/blocked.woff2") format("woff2");
}

@font-face {
  font-family: "Gamer";
  font-weight: normal;
  src: url("../fonts/Gamer.eot") format("eot"), url("../fonts/Gamer.otf") format("otf"), url("../fonts/Gamer.ttf") format("ttf"), url("../fonts/Gamer.woff") format("woff"), url("../fonts/Gamer.woff2") format("woff2");
}

@font-face {
  font-family: "Sadana Square";
  font-weight: normal;
  src: url("../fonts/SadanaSquare.eot") format("eot"), url("../fonts/SadanaSquare.otf") format("otf"), url("../fonts/SadanaSquare.ttf") format("ttf"), url("../fonts/SadanaSquare.woff") format("woff"), url("../fonts/SadanaSquare.woff2") format("woff2");
}

body {
  background-color: #0D0D0D;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: 'Gamer', serif;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: 'Sadana Square', monospace;
  text-transform: uppercase;
}

p {
  font-family: 'Nova Square', sans-serif;
}

a, li {
  font-family: 'Blocked', monospace;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  color: white;
}

button {
  font-family: 'Sadana Square', monospace;
  text-transform: uppercase;
}

div, span {
  font-family: 'Sadana Square';
}

.cabecalho__titulo {
  width: max-content;
  height: max-content;
  padding: 0.3em 1em 0.3em 0.9em;
}

.cabecalho__titulo--nome {
  margin: 0;
}

.cabecalho__titulo--cargo {
  margin: 0;
}

.cabecalho__topicos {
  display: flex;
  justify-content: flex-end;
}

.cabecalho__lista {
  display: flex;
  width: max-content;
  margin-right: 5%;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .cabecalho__lista {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
  }
}

@media screen and (orientation: landscape) and (max-width: 712px) {
  .cabecalho__lista {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
  }
}

.cabecalho__lista--link {
  display: block;
  margin: -0.1em 1em;
  padding: 1em;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .cabecalho__lista--link {
    margin: 2em 0;
  }
}

.principal {
  width: 85%;
  margin: 4em auto;
}

@media screen and (min-width: 1024px) {
  .principal {
    width: 70%;
  }
}

.principal__sobre-mim, .principal__faculdade, .principal__habilidades {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.sobre-mim__corpo, .faculdade__corpo, .habilidades__corpo {
  display: flex;
  align-items: center;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .sobre-mim__corpo, .faculdade__corpo, .habilidades__corpo {
    flex-direction: column;
  }
}

.sobre-mim__corpo--conteudo {
  margin-left: 0.5em;
}

.sobre-mim__corpo--imagem {
  width: 13em;
  height: 15em;
  box-sizing: border-box;
}

.sobre-mim__corpo--item {
  margin: 0.2em 0;
  padding: 0.1em 0.2em;
}

.faculdade__corpo {
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
}

.faculdade__corpo--title {
  flex-basis: 70%;
}

.faculdade__corpo--item {
  flex-grow: 1;
  padding: 0.3em;
  margin: 0.2em;
}

.progress-bar {
  width: 12.5%;
}

.cabecalho__titulo {
  background: linear-gradient(90deg, #310273 0%, #6805F2 100%);
  text-align: center;
  border: 0.1em solid #090126;
  box-shadow: 0em 0em 0.3em #090126;
}

.cabecalho__lista--link {
  background: linear-gradient(180deg, #310273 0%, #6805F2 100%);
  border: 0.1em solid #090126;
  box-shadow: 0em 0em 0.3em #090126;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .cabecalho__lista--link {
    text-align: center;
  }
}

@media screen and (orientation: landscape) and (max-width: 712px) {
  .cabecalho__lista--link {
    text-align: center;
  }
}

.sobre-mim__cabecalho, .faculdade__cabecalho, .habilidades__cabecalho {
  font-size: 2em;
  letter-spacing: 0.5em;
  text-shadow: 0.1em 0.1em 0 #6805F2;
}

@media screen and (orientation: portrait) and (max-width: 440px) {
  .sobre-mim__cabecalho--titulo, .faculdade__cabecalho--titulo, .habilidades__cabecalho--titulo {
    letter-spacing: 0.1em;
    font-size: 1.7em;
  }
}

.sobre-mim__corpo--imagem, .faculdade__corpo--imagem, .habilidades__corpo--imagem {
  border: 0.5em solid #6805F2;
  box-shadow: 0em 0em 0.2em #0F0140;
}

.sobre-mim__corpo--item, .faculdade__corpo--item, .habilidades__corpo--item {
  background-color: #6805F2;
  border: 0.1em solid #310273;
  box-shadow: 0 0 0.4em #0F0140;
  font-size: 1.2em;
  line-height: 1.5em;
}

@media screen and (min-width: 1024px) {
  .sobre-mim__corpo--item, .faculdade__corpo--item, .habilidades__corpo--item {
    line-height: 2em;
  }
}

.faculdade__corpo--progressbar {
  text-align: left;
}

.faculdade__corpo--item {
  text-align: center;
  letter-spacing: 0.3em;
}

.progress-bar {
  text-indent: 120%;
  font-size: 100%;
  background-color: #090126;
  width: 12.5%;
}

@media screen and (min-width: 712px) {
  .progress-bar {
    color: #090126;
    transition: color 200ms;
    line-height: 1em;
    text-indent: 0;
  }
  .progress-bar:hover {
    color: #6805F2;
  }
}

.cabecalho__titulo {
  position: fixed;
  top: 1em;
  transition: 400ms;
  left: -17.8em;
}

.cabecalho__titulo:hover {
  left: -1em;
}

.cabecalho__titulo--nome {
  font-family: 'Major Mono Display', monospace;
  font-size: 3em;
  letter-spacing: 0.2em;
  margin-right: -5%;
}

.cabecalho__titulo--cargo {
  letter-spacing: 0.05em;
  font-size: 1.9em;
  padding-left: 3%;
}

.cabecalho__lista {
  position: fixed;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .cabecalho__lista {
    position: static;
  }
}

@media screen and (orientation: landscape) and (max-width: 712px) {
  .cabecalho__lista {
    position: static;
  }
}

.cabecalho__lista--item {
  font-size: 1.3em;
  letter-spacing: 0.1em;
}

.sobre-mim__corpo--title {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 0.3em;
}

@media screen and (min-width: 768px) {
  .sobre-mim__corpo--title {
    font-size: 2em;
  }
}

.sobre-mim__corpo--embelezador {
  display: flex;
  justify-content: space-between;
}

.sobre-mim__corpo--embelezador .sobre-mim__corpo--item {
  flex-basis: 47%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1em;
}

.sobre-mim__corpo--texto {
  text-indent: 1.5em;
  color: #310273;
}

@media screen and (orientation: landscape), (max-width: 712px) {
  .sobre-mim__corpo--imagem {
    transition: 400ms;
  }
  .sobre-mim__corpo--imagem:hover {
    transform: scale(1.5);
  }
}

.sobre-mim__corpo--title, .faculdade__corpo--title {
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 0.3em;
}

@media screen and (min-width: 768px) {
  .sobre-mim__corpo--title, .faculdade__corpo--title {
    font-size: 2em;
  }
}

.faculdade__corpo--title {
  flex-basis: 70%;
}

@media screen and (max-width: 1024px) {
  .faculdade__corpo--title {
    letter-spacing: 0.1em;
  }
}
