@charset "UTF-8";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Major+Mono+Display&family=Ubuntu&display=swap');

/* 
font-family: 'Cute Font', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Ubuntu', sans-serif;
*/

/* modificações gerais */

* {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* limpar config */
div#corpo {
    display: none;
}


html {
    background-image: url(../imagens/giphybreak.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.break {
    margin-top: 10vh;

    display: flex;
    align-self: center;
    flex-direction: column;

    padding: 1vw;
}

.break h1, span {
    font-size: 5vw;
    letter-spacing: 1.2vw;
}


.break h1 {
    text-transform: uppercase;
    text-align: center;

    line-height: 6vw;

    font-family: fantasy;
    font-size: 1.5em;
}

.break span {
    font-family: 'Cute Font', 'Ubuntu', sans-serif;

    margin-top: 45vh;

    display: flex;
    align-self: flex-end;
}
