@charset "UTF-8";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Major+Mono+Display&family=Ubuntu&display=swap');

/* 
font-family: 'Cute Font', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Ubuntu', sans-serif;
*/

/* modificações gerais */

* {
    text-decoration: none;
    list-style: none;
    color: white;
}

/* limpar config */
div#corpo {
    display: none;
}


html {
    background-image: url(../imagens/background-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.break {
    margin-top: 10vh;

    display: flex;
    align-self: center;
    flex-direction: column;

    letter-spacing: 1vw;
    
    padding: 1vw;
}

.break h1, span {
    font-size: 5vw;
}

.break h1, .break h2, .break h3 {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.493);

    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    border-radius: 5px;
}

.break h2, .break h3 {
    
    margin: 1vw auto;
    padding: 1vw;
}

.break h1 {
    margin: 2vw;
    padding: 2vw;
}

.break h2 {
    width: 80%;
}

.break h3 {
    width: 50%;
}

.break span {

    margin-top: 30vh;

    font-family:  'Cute Font', cursive;
    font-size: 1.7em;

    text-align: right;
    
    display: flex;
    align-self: flex-end;
}
