@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Major+Mono+Display&family=Ubuntu&display=swap');

/* 
font-family: 'Cute Font', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Ubuntu', sans-serif;
*/

/* fontes */
@font-face {
    font-family: "Gamer";
    src: url("./fonts/Gamer.woff") format("woff"),
    url("./fonts/Gamer.woff2") format("woff2");
    
}

@font-face {
    font-family: "Sadana Square";
    src: url("fonts/SadanaSquare.woff") format("woff"),
    url("./fonts/SadanaSquare.woff2") format("woff2");
}

@font-face {
    font-family: "Alata";
    src: url("fonts/Alata-Regular.woff") format("woff"),
    url("./fonts/Alata-Regular.woff2") format("woff2");
}

/* modificações gerais */

* {
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    background-color: #1b1b1b;
}

div.break {
    display: none;
}

div#corpo {
    width: 85%;
    margin: 0 auto;
}

/* cabecalho */


header#principal div#container-menu {
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;

    display: flex;
    justify-content: space-between;
}

/* LOGO MENU */

div#container-menu div#logo {
    margin: 0 1vw ;
    line-height: 4vw;
    text-shadow: 2px 2px 1px black;
}

div#container-menu h1 {
    font-family:  "Major Mono Display", "gamer", monospace;
    font-size: 5vw;
    text-transform: uppercase;
}

div#container-menu h2 {
    font-family: "Cute Font", "Sadana Square", monospace;
    font-size: 3vw;
    letter-spacing: 0.3vw;
}

/* REDES SOCIAIS */

div#container-menu div#redes-sociais {
    font-family: "Ubuntu", Alata, sans-serif;
    
    width: 40%;

    display: flex;
    align-items: center;
    justify-content: center;
}

div#redes-sociais nav {
    width: 100%;
}

div#redes-sociais ul {
    display: flex;
    justify-content: center;
}

div#redes-sociais li {
    padding: 0 2vw;
    font-size: 1vw;
    letter-spacing: 0.2vw;
    line-height: 2vw;
}

div#redes-sociais li:nth-child(even) {
    border-right: 0.1vw solid white;
    border-left: 0.1vw solid white;
}

div#redes-sociais a {
    padding: 0 5%;
}

div#redes-sociais a:hover {
    border-bottom: 0.1vw solid white;
    transition: 0.5s;
}

/* menu de navegação */

header#principal div#menu-principal {
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    width: 40%;
    margin-left: 1%;

    display: flex;
    justify-content: center;
}

div#menu-principal nav {
    width: 80%;
    display: flex;
    justify-content: center;
}

div#menu-principal ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.1vw;
    font-family: "Ubuntu", Alata, sans-serif;
    line-height: 2.4vw;
    transition: 0.4s;
}

/* ANIMAÇÃO NAVEGAÇÃO */


div#menu-principal:hover ul {
    line-height: 3vw;
    font-size: 1.5vw;
}

/* MODIFICAÇÕES GERAIS DO CORPO */

main#corpo {
    width: 90%;
    margin: 1vw auto;
}

main#corpo h3{
    text-indent: 1vw;
    font-size: 3vw;
    font-family: "Cute Font", "Sadana Square", monospace;

}

/* main */
main#corpo > div {
    margin-bottom: 40px;
    margin-top: 40px;
}


/******************** sessao about ***********************/

article#sessao-about {
    border: 4px solid white;
}

/* cabecalho da sessao about */   

    article#sessao-about div#about-cabecalho {
        display: flex;
        justify-content: space-evenly;
        font-size: 1.5vw;
        padding: 1vw;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.2vw;
    }

    article#sessao-about header #about-cabecalho {
        border-bottom: 4px solid white;
        margin: 0 auto;
        width: 90%;
    }

/* corpo do about */

    article#sessao-about article {
        width: 95%;
        margin: 1vw auto;
        border-radius: 5px;
    }

    article#sessao-about article h4 {
        font-size: 2.5vw;
        font-family: "Cute Font", "Sadana Square", monospace;
    }

    /* cabecalho de categorias */
        article#sessao-about header {
            display: flex;
            justify-content: space-between;
        }

        article#sessao-about header span {
            font-size: 0.9vw;
        }
    
    /* rodapé das categorias */

        article#sessao-about footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 1vw;
            
        }

    /* faculdade */

    article#sessao-about #faculdade section {
        margin: 0 auto;
        font-family: monospace;
    }

    /* table na sessao about faculdade */
    article#sessao-about #faculdade section table {
        border: 1px solid red;
        width: 100%;
        font-size: 1vw;
    }

    article#sessao-about #faculdade section table td {
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        padding: 1.5vw 2vw;
        font-size: 1.5vw;
        border: 1px solid white;
        align-items: center;
    }

    article#sessao-about #faculdade section tr:not(#info-tabela) td {
        padding: 1vw 1.8vw;
        font-size: 1.3vw;
    }

    /* rodape xp faculdade */
    article#sessao-about #faculdade footer h6 {
        font-family: monospace;
        text-transform: uppercase;
    }

    article#sessao-about #faculdade footer div {
        width: 100%;
        margin-left: 1vw;
        text-align: right;
        background-image: linear-gradient(to right, white 10%, #00000000 10%);
    }

    article#sessao-about #faculdade footer span {
        color: #ffffff00;
        font-size: 1vw;
    }

        /* rodape xp faculdade hover */

        article#sessao-about #faculdade footer div:hover span {
            color: #ffffff9a;
        }

    /* trabalho */

    #trabalho #progress-bar {
        background-image: linear-gradient(to right, white 0, rgba(0, 0, 0, 0) 0);
        text-align: center;
        font-size: 0.9vw;
        display: flex;
        justify-content: space-between;
    }

    #trabalho #progress-bar span {
        color: #ffffff00
    }

    #trabalho #progress-bar:hover span {
        color: #ffffff8c;
    }

    /* certificados */


    article#sessao-about section {
        padding: 1vw;
        margin: 0.1vw;
        font-size: 1.5vw;
        font-family: "Ubuntu", Alata, sans-serif;
    }

    article#sessao-about section h5 {
        margin: 0.5vw 0 1vw;
    }

    article#sessao-about section div {
        border: 1px solid white;
        font-family: monospace;
        padding: 1vw;
    }

    article#sessao-about section .certificado-info ul {
        padding: 1vw 0;
        margin-left: 1.5vw;
        
    }   

    article#sessao-about section .certificado-info li {
        list-style-type: square;
        width: max-content;
        margin: 0.5vw;
    }

    /* sessao about animações */

        /* tags a serem animadas */ 
        span.certificado-emitido, span.certificado-n-emitido, span.certificado-andamento {
            font-family: monospace;
            font-size: 0.7em;
            margin-left: 3vw;
        }

        span.certificado-emitido {
            color: green;
        }
        span.certificado-n-emitido {
            color: rgba(0, 0, 0, 0.541);
        }

        span.certificado-andamento {
            color: rgb(153, 0, 255);
        }

        article#sessao-about section .certificado-info span {
            display: none;
            text-transform: uppercase;
        }

        article#sessao-about section .certificado-info a {
            cursor: pointer;
        }

        /* animações */

        article#sessao-about section .certificado-info:hover {
            background-color: white;
            transition: 0.2s;
        }

        article#sessao-about section .certificado-info:hover li, .certificado-info:hover a {
            color: black;
        }

        article#sessao-about section .certificado-info li:hover {
            list-style-type: disc;
            transition: 0.1s;
        }

        article#sessao-about section .certificado-info a:hover {
            margin-left: 0.5vw;
        }

        article#sessao-about section .certificado-info a:hover + span {
            display: inline;
        }



/******************** sessao projeto ***********************/
/* Cabecalho da sessao projeto */

    article#sessao-projetos {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    article#sessao-projetos .container-projeto header h4 {
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        letter-spacing: 0.2vw;
        margin: 0.7vw 1vw;
        font-size: 1.8vw;
        text-transform: uppercase;
        border-bottom: 2px solid white;
        padding: 0.2vw;
    }

    article#sessao-projetos .container-projeto header {
        display: flex;
        justify-content: space-between;
    }

    article#sessao-projetos .container-projeto header span {
        font-size: 1vw;
    }

/* conteudo da sessão projeto */

    article#sessao-projetos section {
        display: flex;
        margin-bottom: 1vw;
    }

    article#sessao-projetos section .container-projeto {
        border: 4px solid white;
        padding: 0.5vw;
    }

    article#sessao-projetos .container-projeto section {
        display: flex;
    }

    article#sessao-projetos .container-projeto p {
        font-family: monospace;
        margin: 1vw 1.5vw;
        text-align: justify;
        font-size: 1.3vw;
    }

    article#sessao-projetos .container-projeto section img {
        width: 30%;
        border: 4px solid white;
        transition: 0.5s;
    }

    /* Animação da imagem da sessao projeto */
    article#sessao-projetos .container-projeto section img:hover {
        transform: scale(1.5);   
    }
        

/* rodapé da sessão projetos */

    article#sessao-projetos .container-projeto footer {
        display: flex;
        justify-content: flex-end;
    }

    article#sessao-projetos .container-projeto a {
        margin-top: -3.5vw;
        background-color: white;
        border-radius: 5px;
        border: 1px solid #1b1b1b;
    }

    article#sessao-projetos .container-projeto a p {
        font-family: "Cute Font", "Sadana Square", monospace;
        text-transform: uppercase;
        color: black;
        font-size: 1.5vw;
    }

    /* animações do rodapé da sessao projetos */

        article#sessao-projetos .container-projeto a:hover {
            background: #1b1b1b;
            border: 1px solid white;
            transition: 0.2s;
        }

        article#sessao-projetos .container-projeto a:hover p {
            color: white;
        }

/* sessão habilidade do main projetos */

    article#sessao-projetos .container-habilidade {
        max-width: 30%;
        padding: 1vw;
    }

    article#sessao-projetos .container-habilidade table {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 1.5vw;
        border: 4px solid white;
        padding: 2vw;
        display: flex;
        justify-content: center;
    }

    article#sessao-projetos .container-habilidade table td {
        border: 1px solid white;
        padding: 1vw;
        vertical-align: middle;
    }

    article#sessao-projetos .container-habilidade table td#linguagem {
        border: 4px solid white;
        padding: 1vw;
        vertical-align: middle;
    }

/******************** sessao contato ***********************/
article#sessao-contato {
    width: 80%;
    margin: 0 auto;
}

/* contato email */

article#sessao-contato table {
    border: 4px solid white;
    width: 80%;
    margin: 0 auto;
}

article#sessao-contato table td {
    border: 1px solid white;
    vertical-align: middle;
    text-align: center;
    padding: 1vw;
    font-family: ubuntu, monospace;
    font-size: 1.2vw;
}

article#sessao-contato table td.table-title {
    background-color: white;
    color: black;
    text-align: right;
    padding-left: 0;
}

article#sessao-contato table td.table-data {
    padding: 1vw 8vw;
}

article#sessao-contato table td.table-data a:hover {
    color: black;
    transition: 0.2s;
}

/*********          rodape-pagina          **********/

footer#rodape-pagina {
    font-family: "Sadana Square", 'Alata', monospace;
    
}
footer#rodape-pagina div{
    text-align: center;
}

footer#rodape-pagina p {
    font-size: 1.3vw;
    color: #ffffff;
    padding: 0.5vw;
    letter-spacing: 0.1vw;
}

footer#rodape-pagina a {
    text-decoration: underline;
}

footer#rodape-pagina a:hover {
    color: black;
}