.cabecalho {
    &__titulo {
        background: linear-gradient(90deg, 
        $paleta1-color-2 5%, 
        $paleta1-color-1 30%);

        width: max-content;
        height: max-content;
        

        text-align: center;

        padding: 0.3em 1em 0.3em 0.9em;

        border: 0.1em solid $paleta1-color-4;
        box-shadow: 0em 0em 0.3em $paleta1-color-4;

        &--nome {
            margin: 0;
        }
        &--cargo {
            margin: 0;
        }
    }
}