.cabecalho {
    &__titulo {
        background: linear-gradient(90deg, 
        $paleta1-color-2 0%, 
        $paleta1-color-1 100%);

        text-align: center;

        border: 0.1em solid $paleta1-color-4;
        box-shadow: 0em 0em 0.3em $paleta1-color-4;
    }

    &__lista {
        &--link {

            background: linear-gradient(180deg, 
                $paleta1-color-2 0%, 
                $paleta1-color-1 100%);
            border: 0.1em solid $paleta1-color-4;
            box-shadow: 0em 0em 0.3em $paleta1-color-4;

            @media screen and (orientation: portrait) and (max-width: 768px) {
                text-align: center;
            }
            @media screen and (orientation: landscape) and (max-width: 712px) {
                text-align: center;
            }
        }
    }
}

.sobre-mim, .faculdade, .habilidades {
    &__cabecalho {

        font-size: 2em;
        letter-spacing: 0.5em;

        text-shadow: 0.1em 0.1em 0 $paleta1-color-1;

        &--titulo {
            @media screen and (orientation: portrait) and (max-width: 440px) {
                letter-spacing: 0.1em;
                font-size: 1.7em;
                // Define um tamanho menor para a fonte não quebrar o width do elemento.
            }
        }

    }
    &__corpo {

        &--imagem {
            border: 0.5em solid $paleta1-color-1;
            box-shadow: 0em 0em 0.2em $paleta1-color-3;
        }

        &--item {
            background-color: $paleta1-color-1;

            border: 0.1em solid $paleta1-color-2;
            box-shadow: 0 0 0.4em $paleta1-color-3;

            font-size: 1.2em;
            line-height: 1.5em;
            
            @media screen and (min-width: 1024px) { // garante mais espaço em telas maiores que 1024px
                line-height: 2em;
            }
        }
    }
}

.faculdade, .habilidades {
    &__corpo{
        &--progressbar {
        text-align: left;
        }

        &--item {
            text-align: center;
            letter-spacing: 0.3em;
        }
    }
}

.progress-bar {
    
    text-indent: 120%;

    @media screen and (min-width: 712px) { // garante uma melhor visualização da legenda em telas maiores
        color: $paleta1-color-4;

        transition: color 200ms;

        line-height: 1em;

        text-indent: 0;
    
        &:hover {
            color: $paleta1-color-1;
        }
    }

    font-size: 100%;

    background-color: $paleta1-color-4;
}
