body {
    background-color: $paleta1-color-5;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Gamer', serif;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
    font-family: 'Sadana Square', monospace;
    text-transform: uppercase;
}

p {
    font-family: 'Nova Square', sans-serif;
}

a, li {
    font-family: 'Blocked', monospace;
    text-transform: uppercase;
}

button {
    font-family: 'Sadana Square', monospace;
    text-transform: uppercase;
}

div, span {
    font-family: 'Sadana Square';
}