// Paleta de cores Roxa

$paleta1-color-1: #6805F2;
$paleta1-color-2: #310273;
$paleta1-color-3: #0F0140;
$paleta1-color-4: #090126;
$paleta1-color-5: #0D0D0D;

// Paleta de cores Laranja

$paleta2-color-1: #FFD300;
$paleta2-color-2: #FFAD03;
$paleta2-color-3: #FF8E06;
$paleta2-color-4: #F45D09;
$paleta2-color-5: #DB3E07;

//paleta de cores verde

$paleta3-color-1: #000000;
$paleta3-color-2: #000C00;
$paleta3-color-3: #008C00;
$paleta3-color-4: #008C00;
$paleta3-color-5: #00F000;

// Habilidades
$skills: 'JS' 20%, 'HTML' 60%, 'CSS' 65%, 'UI' 15%, 'UX' 29%;