.cabecalho { // garante um cabecalho preso ou flexivel

    &__titulo {
        position: fixed;

        top: 1em;

        // Efeito transição lateral
        transition: 400ms;

        left: -17.8em;
        &:hover {
            left: -1em;
        }
        //

        // Ajustes pontuais para manter a responsividade e
        // deixar o botão superior lateral com uma aparencia agradavel.
        &--nome {
            font-family: 'Major Mono Display', monospace;
            font-size: 3em;
            letter-spacing: 0.2em;
            margin-right: -5%;
        }

        &--cargo {
            letter-spacing: 0.05em;
            font-size: 1.9em;
            padding-left: 3%;
        }
        //
    }

    &__lista {
        position: fixed;

        @media screen and (orientation: portrait) and (max-width: 768px) {
            position: static;
        }
        @media screen and (orientation: landscape) and (max-width: 712px) {
            position: static;
        }

        &--item {
            font-size: 1.3em;
            letter-spacing: 0.1em;
        }
    }
}

.sobre-mim__corpo--title { // Modificações esteticas do subtitulo
    font-size: 1.7em;

    @media screen and (min-width: 768px) { // garante uma melhor visualização do titulo em telas maiores
        font-size: 2em;
    }

    text-align: center;
    letter-spacing: 0.3em;
}

.sobre-mim__corpo--embelezador { // define um atributo especifico da parte nascimento e localidade
    display: flex;
    justify-content: space-between;
    
    .sobre-mim__corpo--item {
        flex-basis: 47%;

        text-align: center;
        text-transform: uppercase;
        font-size: 1em;
    }
}

.sobre-mim__corpo--texto {
    text-indent: 1.5em;
    color: $paleta1-color-2;
}

.sobre-mim__corpo--imagem {
    
    @media screen and (orientation: landscape), (max-width: 712px) {
        transition: 400ms;
        &:hover {
            transform: scale(1.5);
        }
    }
}

.sobre-mim, .faculdade {
    &__corpo {
        &--title {
            font-size: 1.7em;

            @media screen and (min-width: 768px) { // garante uma melhor visualização do titulo em telas maiores
                font-size: 2em;
            }
        
            text-align: center;
            letter-spacing: 0.3em;
        }
    }
}

.faculdade__corpo {
    &--title {
        flex-basis: 70%;
        @media screen and (max-width: 1024px) { // garante uma melhor visualização do titulo em telas maiores
           letter-spacing: 0.1em;
        }
    }
}